.my-purchases-app-image{
    max-width: 18em;
    height: auto;
}


.purchased-table {
    border-collapse: separate;

    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right:auto;
    margin-left: auto;

    max-width: 70vw;



}
.purchased-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;


}

.purchased-table th,
.purchased-table td {
    padding: 12px 15px;


}



.purchased-table tbody tr {
    border-bottom: 1px solid #dddddd;



}

.purchased-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;

}

.purchased-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table-nav-btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    background-color: #04AA6D;
    color: white;
    margin-left: 5px;
    margin-right: 5px
}

.table-nav-btn:hover {
    background-color: #ddd;
    color: black;
}

.table-nav-btn:disabled {
    background-color: grey;
    color: white;
}

.global-filter{
    margin-top: 20px
}