#upload-page-goto-desktop-div, #upload-page-electron-view-div {
    /*margin: auto;*/
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}