#upload-form{
    width: 50%;
    position: relative;
    margin: auto;

}

.invalid-field-text{
    color: red;

}

#upload-form-title{
    text-decoration: underline;
    margin-top: 15px;
}

#description-input {
    resize: none;
}

#submit-btn:disabled{
    background-color: red;
}